environs
datashaper
lancedb
aiofiles<25.0.0,>=24.1.0
openai
nltk
tiktoken
numpy
networkx
fastparquet
scipy
pyyaml
python-dotenv
tenacity
swifter
pydantic
rich
typing-extensions
ollama
gradio
PyYAML
matplotlib
plotly
kaleido
graphrag
tomlkit
