environs
datashaper
lancedb
aiofiles
openai
nltk
tiktoken
numba
numpy
graspologic
networkx
fastparquet
scipy
pyyaml
pyaml-env
python-dotenv
tenacity
swifter
pydantic
rich
textual
devtools
typing-extensions
coverage
nbconvert
pyright
pytest
pytest-asyncio
pytest-timeout
ruff
semversioner
update-toml
ollama
gradio
PyYAML
networkx
matplotlib
plotly
kaleido